@import '_variables.scss';

header {
  background-color: $primary-header-background-color;
  display: flex;
  font-family: 'Abhaya Libre', serif;
}

a.home, a.new {
  align-items: center;
  color: $primary-font-color;
  display: flex;
  font-size: 1.5em;
}

.appName {
  color: black;
  margin-left: 20px;
  text-decoration: none;
}

.navBar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 29px;
  width: 100%;
}

.headerButtons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.LogInContainer {
  margin-top: 0;
}

.new, .home {
  color: black;
  font-size: 1.2em;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

.logInButton {
  background-color: #e5e4f0;
  border-radius: 5px;
  font: #121111;
  margin: 0 10px 0 10px;
}

.title {
  display: flex;
  margin-left: 10px;
  text-decoration: none;
}
