@import '_variables.scss';

header {
  background-color: $primary-header-background-color;
  display: flex;
}

.appName {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 29px;
}

.headerButtons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.LogInContainer {
  margin-top: 0;
}

.new, .home {
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 10px 0 10px;
  color: black;
}

.logInButton {
  border-radius: 5px;
  margin: 0 10px 0 10px;
  background-color: #e5e4f0;
  font: #121111;
}

.title {
  display: flex;
  text-decoration: none;
  margin-left: 10px;
}
