

$primary-background-color: #2D4059;
$secondary-background-color: #303841;
$primary-header-background-color: #EEEEEE;
$primary-font-color: #EA5455;
$secondary-font-color: #07617D;


/* $primary-title-font: 'Abhaya Libre', serif;
$primary-body-font: 'Open Sans', sans-serif;
 */
