@import '_variables.scss';

body {
  background-color: $primary-background-color;
}

header {
  background-color: #c2e3e8;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.new {
  text-decoration: none;
}

.title {
  display: flex;
  text-decoration: none;
  flex-grow: 3;
}
