@import '_variables';
@import '_signin';
@import '_header';
@import '_allrecommendations';
@import '_detailedRecommendation';
@import '_new';

body {
  background-color: $primary-background-color;
  color: $secondary-font-color;
  font-family: $primary-body-font;
  .transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
}
